- institution ||= nil
- only_likely_countries ||= false
- default_country_code ||= 'HKG'
- required ||= false

- if institution.present?
  - country_code = institution.country_code
- else
  - country_code = default_country_code

- country_code_field ||= :country_code
- institution_code_field ||= :institution_code
- institution_name_field ||= :institution_name
- institution_name_placeholder ||= t('placeholders.institution_name')
- label_class = required ? "required" : ""

- if only_likely_countries
  - country_options = Country.likely_for_selection
- else
  - country_options = Country.for_selection

%fieldset.institution_chooser{data: {role: "institution", required: required}}
  %p.twocol.unequal
    %span.col>
      = f.select country_code_field, country_options, {prompt: t("placeholders.please_choose")}, data: {key: "country_code", role: 'countrypicker'}
    %span.col.last>
      = f.select institution_code_field, Institution.for_selection(country_code), {prompt: t("placeholders.please_choose")}, {data: {key: "institution_code", role: 'institutionpicker'}}
      = f.text_field institution_name_field, placeholder: institution_name_placeholder, value: ""
      %br
      = link_to t(:add_institution), '#', class: 'note', data: {role: "toggle", alt: t(:choose_institution)}
