- photo ||= nil
- cssclass = "mugshot"
- if person ||= photo || @person
  - if person.icon.present?
    - styles = "background-image: url(\"#{person.icon}\")"
  - else
    - styles = ""

  %div{class: cssclass, style: styles}
