- associated ||= "record"

%p
  This
  = associated
  is not linked to a person.
  The fields above will be used to create a new person record.
  If they resemble any existing person, links will be suggested here.
  Please try to use existing records wherever you can.