- photo ||= nil
- cssclass = "mugshot"
- person ||= photo || @person
- if person
  - if person.icon.present?
    - style = "background-image: url(\"#{person.icon}\")"
  - else 
    - cssclass << " uninvited"
  %div{class: cssclass, style: style}
