- photo ||= nil
- cssclass = "mugshot"
- person ||= photo || @person
- if person
  - if person.thumb.present?
    - style = "background-image: url(\"#{person.thumb}\")"
  - else
    - cssclass << " uninvited"
  %div{class: cssclass, style: style}
