- photo ||= nil
- cssclass = "mugshot"
- person ||= photo || @person
- if person
  - if person.person_page?
    - style = "background-image: url(\"#{person.icon}\")"
  - else
    - cssclass << " uninvited"
  %div{class: cssclass, style: style}
